/* http://colorschemedesigner.com/csd-3.5/#3b51Tr.Dlw0w0 */
body {
  background-color:#eee;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: #000;
}

h2 {
	margin:0 0 .5em 0;
  background-color:#75DEC6;
  border-radius:5px;
  padding:2px;
  margin-top:7px;
  color:#444;
}

a {
  color:#448;
  text-decoration: none;
}

img {
  width:80%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

th {
  text-align:right;
}

.nav {
  padding:5px;
  border:solid 1px #aaa;
  border:none;
  border-radius: 5px;
  display:inline-block;
  color:#eee;
  text-decoration: none;
  width:15%
  float:left
}

.nav:hover {
  text-decoration: none;
  background-color:#1b8aba;
}

.navh {
  padding:5px;
  border:solid 1px #aaa;
  border-radius: 5px;
  border:none;
  display:inline-block;
  color:#eee;
  text-decoration: none;
}

#wrapper {
  margin-right:auto;
  margin-left:auto;
  width:90%;
	max-width:900px;
  position:relative;
}

#head {
  background-color:#1ABC9A;
  padding:5px;
  border:solid 1px #aaa;
  border:none;
  border-radius: 5px;
}

#navbar {
  padding:5px;
  border-radius: 5px;
  display:inline-block;
  color:#ddd;
  text-decoration: none;
  background-color: #087A61;
  width:100%;
}

#content {
  background-color:#fff;
  padding:5px;
  border:solid 1px #aaa;
  border-radius: 5px;
  border:none;
  width:100%
  max-width:700px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.entry {
  padding-left:10px;
  margin-top:10px;
  margin-bottom:0px;
}

.sub {
  color:#666;
  padding-left:20px;
}

.twosub {
  color:#999;
  padding-left:25px;
}

.nostyle {
  background-color:#fff;
  padding:5px;
  border:none;
}
