doctype html
html
  head
    title FISH - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrapper
      #head
        h1 FISH - #{title}
      #content
        block content
