doctype html
html
  head
    title FISH - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src="/javascripts/jquery.min.js")
    #wrapper
      #head
        h1 FISH - #{title}
      #navbar
        a(href="/").nav Home
      #content
        block content
