extends layout

block content
  form#addItem(style="float:right;")
    input#barcode(type='number', placeholder='Barcode' autofocus)
    input#btnNewItem(type='submit', value="New Item")
  #productList
    each product in products
      .entry #{product.info.name} - #{product.info.category}
      .sub
        | Expires: #{product.expires.toDateString()} -
        a(href="#", rel="#{product.id}").del Delete
  script(src='/javascripts/additem.js')
